/* ==========================================================================
   Add task button
   ========================================================================== */
/**
* Creates a button to add tasks
* The button is displayed at the bottom of the page
* The button is fixed at the bottom of the page
*/
.add-task {
    display: flex;
    justify-content: center;
    button {
        width: 60px;
        height: 60px;
        font-size: 32px;
        text-transform: capitalize;
        border-radius: 50%;
        border: none;
        background-color: #2EE59D;
        color: white;
        padding-bottom: 5px;
        z-index: 999;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease-in-out;
        cursor: pointer;
    }
    button:hover {
        background-color: #1c875c;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        // background: #123b70;
        transform: translateY(-7px);
    }
}