/* ==========================================================================
   Dialog box with add tasks form inside
   ========================================================================== */
/**
* Creates a dialog box with add tasks form inside
* The dialog box is hidden by default
* The dialog box is displayed when the add task button is clicked
* The dialog box is hidden when the cancel button is clicked
* The error div is hidden by default
*/
.dialog {
    display: none;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: all 1s ease-in-out;
    background-color: white;
    position: fixed;
    top: 100vh;
    .close-button {
        button {
            border: none;
            background: none;
            font-size: 2rem;
            cursor: pointer;
        }
    }
    .form-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        justify-content: center;
        h3 {
            font-size: 32px;
        }
        .form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 60%;
            .form__group {
                display: flex;
                flex-wrap: wrap;
                margin: 10px;
                width: 100%;
                label {
                    margin-right: 5px;
                }
                input {
                    flex-grow: 100;
                }
                .error {
                    margin-left: 10px;
                    color: red;
                    font-size: 0.8rem;
                    width: 100%;
                }
            }
        }
    }   
}