
/* ==========================================================================
   SCSS file imports
   ========================================================================== */

@import 'user';
@import 'dialog';
@import 'task';
@import 'add';

/* ==========================================================================
   Website Font
   ========================================================================== */
* {
    font-family: sans-serif;
}

/* ==========================================================================
   Wrapper for TODO app
   ========================================================================== */
.container {
    max-width: 540px;
    margin: 0 auto;
}

